.decision {
    text-align: center;
    background: white;
    border: 1px solid darkgreen;
    transform: rotate(45deg)
}

.decision:hover {
    cursor: move;
}

.decisionContent {
    min-height: 75px;
    min-width: 75px;
    transform: rotate(-45deg);
}

.decisionPort {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(0deg)
}

.decisionPort:hover {
    cursor: pointer;
}

.decisionText {
    border: 0px;
    transform: rotate(0deg);
    width: 70px;
    margin-top: 20px;
}

.decisionLabel {
    line-height: 70px;
    height: 70px;
    width: 75px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.decisionLabel p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.portCandidate {
    margin-top: 0px;
}