.processContent {
    min-height: 50px;
}

.processPort {
    position: absolute;
    width: 10px;
    height: 10px;
}

.processPort:hover {
    cursor: pointer;
}

.portCandidate {
    margin-top: 5px;
}