.pane {
    margin: 2px;
    border: 1px solid silver;
    background-color: white;
    padding: 0px;
}

.title {
    width: 100%;
    height: 30px;
    background-color: seagreen;
    color: white;
    padding-left: 2px;    
    text-overflow: ellipsis;
}

.titleActions {
    float: right;
    padding: 6px;
    font-size: x-small;
}

.titleActions a {
    margin-right: 5px;
}

.titleActions a i {
    padding-left: 1.2px; 
    width: 10px;
}

.titleActions a:hover {
    cursor: pointer;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;    
}

.titleActions a:active {
    cursor: pointer;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;    
}

.footer {
    width: auto; 
    height: 25px; 
    background: wheat;
    text-align: left;
}

.footer div {
    width: auto;
    padding-left: 3px;
    height: 25px;
    text-decoration: underline;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.footer div:hover {
    cursor: pointer;
}