<div class="grid-view" #gridView>
    <div class="row grid-header">
        <div *ngFor="let column of columns" 
        [ngClass]="{ 'grid-col-select': isColumnSelected(column) }" 
        (click)="onColumnClick(column)"
        class="grid-col-outer" [ngStyle]="{ width: column.pixelWidth }">
            <span class="grid-cell-text">
                {{column.displayName}}
            </span>
            <i *ngIf="isColumnSorted(column, 'DESC')" class="fa fa-sort-desc"></i>
            <i *ngIf="isColumnSorted(column, 'ASC')" class="fa fa-sort-asc"></i>
        </div>
    </div>
    <div class="grid-content">
        <div class="row grid-row" *ngFor="let row of rows" 
            [ngClass]="{ 'grid-row-select': isRowSelected(row) }" 
            (click)="onRowClick(row)">
            <div *ngFor="let column of columns" class="grid-cell-outer"
                [ngClass]="{ 'grid-cell-outer-select': isColumnSelected(column) }" 
                [ngStyle]="{ width: column.pixelWidth }">        
                <app-grid-cell [row]="row" [column]="column"></app-grid-cell>
            </div>
        </div>
    </div>
    <div>Total = {{rows.length}}</div>
</div>