<div droppable [allowedTypes]="types" (onDropped)="onDropped($event)"
    class="graphicsEditor" tabindex="0"
    [ngStyle]='{ "width": width + "px", "height": height + "px" }'
    (contextmenu)="onEditorRightClick($event)"
    (mousedown)="onEditorMouseDown($event)"
    (keydown)="onEditorKeyDown($event)"
    (click)="onEditorClick($event)" #editorView>
    <!-- SVG to draw shapes / lines -->
    <svg class="graphicsSvg" [ngStyle]='{ "width": width + "px", "height": height + "px" }' #svgView>
        <!-- Drawing line -->
        <line *ngIf="graphViewModel.DrawingEdge" 
            [attr.x1]="graphViewModel.DrawingEdge.edge?.Source?.Location?.X" 
            [attr.y1]="graphViewModel.DrawingEdge.edge?.Source?.Location?.Y" 
            [attr.x2]="graphViewModel.DrawingEdge.edge?.Target?.Location?.X" 
            [attr.y2]="graphViewModel.DrawingEdge.edge?.Target?.Location?.Y" 
            [attr.stroke]="graphViewModel.DrawingEdge.stroke" 
            [attr.stroke-width]="graphViewModel.DrawingEdge.strokeWidth">
        </line>
        <!-- Arrow for drawing line -->
        <polyline *ngIf="graphViewModel.DrawingEdge" 
                  [attr.fill]="graphViewModel.DrawingEdge.stroke"
                  [attr.points]="graphViewModel.DrawingEdge.arrowPoints"
                  [attr.stroke]="graphViewModel.DrawingEdge.stroke"
                  [attr.stroke-width]="graphViewModel.DrawingEdge.strokeWidth">            
        </polyline>
        <!-- Drawn paths around the drawn lines -->
        <path *ngFor="let edgeViewModel of graphViewModel.Edges"
                  class="edgePathRegion"        
                  [attr.d]="edgeViewModel.pathPoints"
                  (contextmenu)="onEdgeRightClick($event, edgeViewModel)"
                  (click)="onEdgeSelect($event, edgeViewModel)"
                  (focusout)="onEdgeUnselect($event, edgeViewModel)"
                  (keydown)="onEdgeKeyDown($event, edgeViewModel)">
        </path>        
        <!-- Drawn lines -->
        <polyline *ngFor="let edgeViewModel of graphViewModel.Edges"
                  [ngStyle]="{ 'z-index': (edgeViewModel.selected || edgeViewModel.highlighted) ? 10.0 : 1.0 }" 
                  fill="none"                  
                  [attr.stroke]="edgeViewModel.stroke" 
                  [attr.stroke-width]="edgeViewModel.strokeWidth" 
                  [attr.points]="edgeViewModel.points">
        </polyline>
        <!-- Arrows for drawn lines -->
        <polyline *ngFor="let edgeViewModel of graphViewModel.Edges" 
                  [attr.fill]="edgeViewModel.stroke"
                  [attr.stroke]="edgeViewModel.stroke" 
                  [attr.stroke-width]="edgeViewModel.strokeWidth" 
                  [attr.points]="edgeViewModel.arrowPoints">
        </polyline>        
    </svg>
    <!-- nodes -->
    <div *ngFor="let nodeViewModel of graphViewModel.Nodes; let i = index" class="outerBlock" id="{{nodeViewModel.Id}}"
        [ngStyle]='{ "margin-left": nodeViewModel.marginLeft + "px", "margin-top": nodeViewModel.marginTop + "px" }'>
        <ng-template graph-node [index]="i" 
        [data]="nodeViewModel" [component]="nodeViewModel.component" 
        (onAction)="handleBlockAction($event)"></ng-template>
    </div>
    <!-- Context menu -->
    <div class="contextMenu" [hidden]="!contextMenu?.display"
        [ngStyle]='{ "margin-left": contextMenu?.location?.X + "px", "margin-top": contextMenu?.location?.Y + "px" }'>
        <div class="contextMenuTitle">
            <span>{{contextMenu.title}}</span>
        </div>
        <div class="contextMenuSeparator"></div>
        <div class="contextMenuContent">
            <ng-template context-menu></ng-template>
        </div>
    </div>
</div>