<div class="graphicsEditor" #editorView>
    <!-- <canvas class="graphicsCanvas" droppable [allowedTypes]="types" (onDropped)="onDropped($event)"></canvas> -->
    <svg class="graphicsSvg" droppable [allowedTypes]="types" #svgView>
        <line *ngIf="showLine" [attr.x1]="x1" [attr.y1]="y1" 
            [attr.x2]="x2" [attr.y2]="y2" 
            style="stroke: brown; stroke-width: 1">
        </line>
    </svg>
    <div *ngFor="let block of blocks" class="outerBlock" 
        [ngStyle]='{ "margin-left": block.marginLeft, "margin-top": block.marginTop }' #blockView>
        <div class="borderBlock" tabindex="0">
            <div class="block">
                <div class="blockHeader" title="{{block.header}}" #blockHeaderView>
                    {{block.header}}
                </div>
                <div class="blockContent" *ngFor='let c of block.content'>     
                    <div class="row" *ngIf="c.type === 'member' && c.direction === 'InOut'">
                        <div class="col-md-0.5">
                            <a (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                        <p class="col-md-10" *ngIf="c.label">{{c.label}}</p>
                        <div class="col-md-0.5">
                            <a (mousedown)="onMouseDown($event)">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                        <!-- <div class="portCandidate" *ngIf="c.type === 'complex'" (mousedown)="onMouseDown($event)"></div> -->
                    </div>   
                    <div *ngIf="c.type === 'compartment'">
                        <div *ngFor='let cc of c.childs'>
                            <p *ngIf="cc.label">{{cc.label}}</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>