<div class="graphicsEditor" #editorView>
    <!-- <canvas class="graphicsCanvas" droppable [allowedTypes]="types" (onDropped)="onDropped($event)"></canvas> -->
    <svg class="graphicsSvg" droppable [allowedTypes]="types" #svgView>
        <!-- Drawing line -->
        <line *ngIf="drawingEdgeViewModel" 
            [attr.x1]="drawingEdgeViewModel.edge?.Source?.Location?.X" 
            [attr.y1]="drawingEdgeViewModel.edge?.Source?.Location?.Y" 
            [attr.x2]="drawingEdgeViewModel.edge?.Target?.Location?.X" 
            [attr.y2]="drawingEdgeViewModel.edge?.Target?.Location?.Y" 
            [attr.stroke]="drawingEdgeViewModel.stroke" 
            [attr.stroke-width]="drawingEdgeViewModel.strokeWidth">
        </line>
        <!-- Arrow for drawing line -->
        <polyline *ngIf="drawingEdgeViewModel" 
                  [attr.fill]="drawingEdgeViewModel.stroke"
                  [attr.points]="drawingEdgeViewModel.arrowPoints"
                  [attr.stroke]="drawingEdgeViewModel.stroke" 
                  [attr.stroke-width]="drawingEdgeViewModel.strokeWidth">            
        </polyline>
        <!-- Drawn lines -->
        <polyline *ngFor="let edgeViewModel of edgeViewModels" 
                  fill="transparent"
                  [attr.stroke]="edgeViewModel.stroke" 
                  [attr.stroke-width]="edgeViewModel.strokeWidth" 
                  [attr.points]="edgeViewModel.points"
                  (focus)="onSelectEdge($event, edgeViewModel)"
                  (focusout)="onUnselectEdge($event, edgeViewModel)"
                  (keydown)="onKeyDown($event, edgeViewModel)">
        </polyline>
        <!-- Arrows for drawn lines -->
        <polyline *ngFor="let edgeViewModel of edgeViewModels" 
                  [attr.fill]="edgeViewModel.stroke"
                  [attr.stroke]="edgeViewModel.stroke" 
                  [attr.stroke-width]="edgeViewModel.strokeWidth" 
                  [attr.points]="edgeViewModel.arrowPoints">
        </polyline>        
    </svg>
    <div *ngFor="let node of nodes" class="outerBlock" id="{{node.Id}}"
        [ngStyle]='{ "margin-left": node.Location.X + "px", "margin-top": node.Location.Y + "px" }' #blockView>
        <div class="borderBlock" tabindex="0">
            <div class="block">
                <div class="blockHeader" title="{{node.DataContext.header}}" 
                    (mouseup)="onBlockMouseUp($event, node)"
                    (mousedown)="onHeaderMouseDown($event, node)">
                    {{node.DataContext.header}}
                </div>
                <div class="blockContent" (mouseup)="onBlockMouseUp($event, node)"
                    *ngFor='let portSet of node.PortSetList'>     
                    <div class="row">
                        <div class="col-md-0.5 leftPort" (mousemove)="onPortMouseOver(portSet.LeftPort)">
                            <a (mousedown)="onMouseDown($event, portSet.LeftPort)" 
                               (mouseup)="onMouseUp($event, portSet.LeftPort)">
                                <span class="icon-female-input-left"></span>
                            </a>
                        </div>
                        <p class="col-md-10" *ngIf="portSet.DataContext.label">{{portSet.DataContext.label}}</p>
                        <div class="col-md-0.5 rightPort">
                            <a (mousedown)="onMouseDown($event, portSet.RightPort)" 
                               (mouseup)="onMouseUp($event, portSet.RightPort)">
                                <span class="icon-male-output-right"></span>
                            </a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>