.payment-history {
    min-height: 600px;
    border: 1px solid gray;
    overflow: auto;
}

.payment-history-card {
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    background-color: lightgray;
    min-height: 20px;
}

.payment-history-card :hover {
    background-color: darkgray;
    cursor: pointer;
}