<div class="row" style="margin-right: 0px;">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <label for="ilityType">Type:</label>
        <select id="ilityType" class="form-control custom-font" (change)="onTypeSelection($event.target.value)">
            <option [value]=""></option>
            <option *ngFor="let type of types" [value]="type.id" [selected]="type.id === question.selectedTypeId">
                {{type.name}}
            </option>
        </select>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <label for="ilitySubType">Sub Type:</label>
        <select id="ilitySubType" class="form-control custom-font" (change)="onSubTypeSelection($event.target.value)">
            <option [value]=""></option>
            <option *ngFor="let sub_type of sub_types" [value]="sub_type.id" [selected]="sub_type.id === question.selectedSubTypeId">
                {{sub_type.name}}
            </option>
        </select>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label for="ilityQuestion">Question:</label>
        <select id="ilityQuestion" class="form-control custom-font" (change)="onQuestionSelection($event.target.value)">
            <option></option>
            <option *ngFor="let q of questions" [value]="q.id" [selected]="q.id === question.selectedQuestionId">
                {{q.text}}
            </option>
        </select>
    </div>   
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <label for="ilityQuestion">Status:</label>
        <select id="ilityQuestion" class="form-control custom-font" (change)="onStatusSelection($event.target.value)">
            <option [value]=""></option>
            <option *ngFor="let status of statusList" [value]="status" [selected]="status === question.status">
                {{status}}
            </option>
        </select>
    </div>     
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <label for="ilityQuestion">Criticality:</label>
        <select id="ilityQuestion" class="form-control custom-font" (change)="onPrioritySelection($event.target.value)">
            <option [value]=""></option>
            <option *ngFor="let priority of priorityList" [value]="priority" [selected]="priority === question.criticality">
                {{priority}}
            </option>
        </select>
    </div>                   
</div>