.personal-data-header {
    min-height: 30px;
    background-color: lightgray;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
}

.type-label {
    min-width: 90px;
}

.type-selection {
    display: inline-flex;
    margin-left: 20px;
}

.personal-details {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.list-of-personal-details {
    overflow: auto;
    max-height: 700px;
}

.btn-save {
    margin: 5px;
    bottom: 50px;
    display: flex;
}

.btn-add {
    display: flex;
    margin: 5px;
}

.url-input {
    width: 10%;
    margin: 5px;
}

.save-section {
    display: inline-flex;
    bottom: 50px;
}