.credit-nav-item {
    font-family: Arial, Helvetica, sans-serif;
}

.credit-nav-item :active {
    background-image: linear-gradient(lightslategrey, lightgray);
}

.credit-nav-item :hover {
    background-image: linear-gradient(lightslategrey, lightgray);
    cursor: pointer;
}

.credit-nav-active {
    background-image: linear-gradient(lightslategrey, lightgray);
}

.credit-nav-inactive {
    background-color: none;
}